[submodule "glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "pybind11"]
	path = libs/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "gl3w"]
	path = libs/gl3w
	url = https://github.com/skaslev/gl3w.git
[submodule "libs/backward-cpp"]
	path = libs/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
