include gl3w/gl3w_gen.py
recursive-include example *.py
recursive-include libs/gl3w/include *.h *.c*
recursive-include libs/glfw/src *.c *.h *.m
recursive-include libs/glfw/include *.h
recursive-include libs/imgui *.h *.cpp *.c
recursive-include libs/pybind11 *.h*
recursive-include libs/backward-cpp *.h*
recursive-include config *.h
include sources/*.cpp *.h
